[Desktop Entry]
Name=Magical8bitPlug2
GenericName=Audio Plugin
GenericName[ja]=オーディオプラグイン
Comment=Standalone Audio Plugin
Comment[ja]=スタンドアローン型オーディオプラグイン
Exec=magical8bitplug2
Icon=magical8bitplug2
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
MimeType=application/x-magical8bitplug2-project;
